<!DOCTYPE html>
<html>
<head>
  <title>Images</title>
  <style>
    img {
      display: block;
      height: 200px;
      width: auto;
    }
    input {
      max-width: 100px;
    }
  </style>
</head>
<body>
    <h1>Images from <%= folderName %></h1>
    <input type="text" placeholder="Enter min height" required id="minHeight">  <br> <br>
    <input type="text" placeholder="Enter max height" required id="maxHeight">  <br> <br>
    <input type="text" placeholder="Enter min width" required  id="minWidth">  <br> <br>
    <input type="text" placeholder="Enter max width" required  id="maxWidth">  <br> <br>
    <a href="#" onclick="generateDownloadLink()">Download files in archive</a>  <br> <br>
    <% imgs.forEach((file) => { %>
      <div>
        <img src="../download/<%= folderName %>/<%= file.name %>" alt="<%= file.name %>" onload="updateDimensions(this)">
        <p id="dimensions-<%= file.name %>">Loading...</p>
      </div>
    <% }); %>

  <script>
    function updateDimensions(image) {
      let img = new Image();
      img.onload = function() {
        let dimensionsId = "dimensions-" + image.alt;
        let dimensionsElement = document.getElementById(dimensionsId);
        dimensionsElement.textContent = img.width + "px × " + img.height + "px";
      };
      img.src = image.src;
    }

    function generateDownloadLink() {
      let regex = /^(?:0|[1-9]\d*)$/;
      const folderName = '<%= folderName %>';
      const minHeight = inputVal('minHeight', 1);
      const maxHeight = inputVal('maxHeight', 10000);
      const minWidth = inputVal('minWidth', 1);
      const maxWidth = inputVal('maxWidth', 10000);

      if (!regex.test(minHeight) || !regex.test(maxHeight) || !regex.test(minWidth) || !regex.test(maxWidth)) {
        alert('Invalid input. Please enter valid numeric values for height and width.');
        return;
      }

      const downloadLink = `/download?name=${folderName}&minHeight=${minHeight}&maxHeight=${maxHeight}&minWidth=${minWidth}&maxWidth=${maxWidth}`;
      window.location.href = downloadLink;
    }

    function inputVal(id, defaultNum) {
      const input = document.getElementById(id);
      const inputVal = input.value || defaultNum;
      return inputVal;
    }
  </script>
</body>
</html>
