<!DOCTYPE html>
<html>
<head>
  <title>Images</title>
  <style>
    img {
      display: block;
      height: 200px;
      width: auto;
    }
    input {
      max-width: 100px;
    }
  </style>
</head>
<body>
    <h1>Images from <%= folderName %></h1>
    <input type="text" placeholder="Enter min height" required id="height">  <br> <br>
    <input type="text" placeholder="Enter min width" required  id="width">  <br> <br>
    <a href="#" onclick="generateDownloadLink()">Download files in archive</a>  <br> <br>
    <% imgs.forEach((file) => { %>
      <div>
        <img src="../download/<%= folderName %>/<%= file.name %>" alt="<%= file.name %>" onload="updateDimensions(this)">
        <p id="dimensions-<%= file.name %>">Loading...</p>
      </div>
    <% }); %>

  <script>
    function updateDimensions(image) {
      let img = new Image();
      img.onload = function() {
        let dimensionsId = "dimensions-" + image.alt;
        let dimensionsElement = document.getElementById(dimensionsId);
        dimensionsElement.textContent = img.width + "px × " + img.height + "px";
      };
      img.src = image.src;
    }

    function generateDownloadLink() {
      let regex = /^(?:0|[1-9]\d*)$/
      const folderName = '<%= folderName %>';
      const height = inputVal('height');

      if(!regex.test(height)) {
        alert('bad height request!')
        return;
      }

      const width = inputVal('width');

      if(!regex.test(width)) {
        alert('bad width request!')
        return;
      }

      const downloadLink = `/download?name=${folderName}&height=${height}&width=${width}`;
      window.location.href = downloadLink;
    }

    function inputVal(id) {
      const input = document.getElementById(id);
      const inputVal = input.value || 1;
      return inputVal;
    }
  </script>
</body>
</html>
